.git
.gitignore

.venv

__pycache__/
**/__pycache__/
.pytest_cache/

catalogue.sqlite3
catalogue.sqlite3-wal
catalogue.sqlite3-shm

tests/
docs/
scratch
Dockerfile
.dockerignore
.github/
README.md
LICENSE
